<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apple.buffetapplication">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity android:name=".ScanActivity" />
        <activity android:name=".MerchantsActivity"
            android:label="商家"/>
        <activity android:name=".RecommendedActivity"
            android:label="套餐"/>
        <activity android:name=".RecipeActivity"
            android:label="总菜谱"/>
        <activity android:name=".ShoopingCartActivity" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShopActivity" />
        <activity
            android:name=".NewMainActivity"
            android:label="随忆点"
            android:theme="@style/AppTheme1.NoActionBar" />
        <activity android:name=".HistoryActivity"
            android:label="足迹"/>
        <activity android:name=".DetailsActivity"
            android:label="订单详情"/>
        <activity android:name=".MyCollectionActivity"
            android:label="我的收藏" />
        <activity android:name=".OrderActivity"
            android:label="订单"/>
        <activity android:name=".AboutUsActivity"
            android:label="关于我们"/>
        <activity android:name=".ModifyActivity"
            android:label="修改头像"/>
        <activity android:name=".NewsActivity"
            android:label="美食报"></activity>
    </application>

</manifest>
